/* vim: filetype=css 
 * */
@import url("file:///home/manuel/.cache/wal/colors.css");

:root {
	--transition-duration: 0.15s;
}

body {
	background-color: var(--background);
	text-align: center;
}

h3 {
	color: var(--foreground);
}

h1 {
	text-align: center;
	color: var(--color7);
	font-size: 50px;
}

input {
	height: 40px;
}

input[type="text"] {
	width: 60%;
	height: 31px;
	color: var(--color0);
	background-color: var(--color7);
	font-size: 20px;
	padding: 2px 5px;
	border: none;
	vertical-align: bottom;
}

input[type="submit"] {
	width: 8%;
	height: 35px;
	border: solid 1px;
	border-color: var(--color7);
	vertical-align: bottom;
	font-size: 22px;
	padding: 2px 8px;
	font-weight: normal;
	color: var(--color0);
	background-color: var(--color7);
}

input[type="submit"]:hover {
	color: var(--color8);
	border-color: var(--color15);
	font-weight: bold;
	background-color: var(--color15);
}


.all {
	display: inline-block;
	vertical-align: top;
	margin-left: 1em;
}

.title {
	text-align: center;
}

.links {
	text-align: center;
	color: var(--foreground);
	background-color: var(--background);
	text-decoration: none;
	font-weight: normal;
	border-radius: 0.5rem;
	border: solid 0.15rem var(--color8);
	width: 12em;
	transition: border-color var(--transition-duration);
}

.links:hover {
	border-color: var(--color7);
}

.links a {
	color: inherit;
	text-decoration: none;
	transition: font-weight var(--transition-duration), text-shadow var(--transition-duration);
}

.links a:hover {
	font-weight: bold;
	color: var(--color15);
	/* offset-x | offset-y | blur-radius | color */
	text-shadow: 0 0 0.35rem var(--foreground);

}
.tortuga {
	background-image: url("pirate-small.jpg");
}
