/* vim: filetype=css 
 * */
@import url("file:///home/manuel/.cache/homepage/colors.css");

body {
	background-color: lightgray;
}

h1 {
	text-align: center;
}

#sorting {
	background-color: white;
	width: 15em;
	border: solid;
	margin: auto;
	margin-bottom: 2em;
	padding: 0.8em;
}

#sorting #sortButton {
	width: 5em;
	margin: auto;
	margin-top: 1em;
}

#sorting button {
	font-size: 1.1em;
}

#disk_usage {
	background-color: white;
	width: 15em;
	border: solid;
	margin: auto;
	margin-bottom: 2em;
	padding: 0.8em;
}

#disk_usage meter {
	margin: auto;
}

#movies_list {
	background-color: white;
	margin: auto;
	border: solid;
}

#movies_list th, #movies_list td {
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}

#movies_list th {
	border-bottom: solid;
	border-collapse: collapse;
}
